<section class="bg-section5">
    <div class="cent">
        <div class="row cent">
            <div class="col-12 mx-auto mar-subscribe">
                <h6>SUBSCRIBE TO OUR NEWSLETTER</h6>
                <p><small>stay informed about us, news and events</small></p>
            </div>
        </div>

        <div class="row cent">
            <div class="col-4 mx-auto">
                <div class="input-group mb-3 newsletter">
                    <input type="text" class="form-control text-center" placeholder="Enter your e-mail address"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btnNewsletter" type="button">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cent">
            <div class="col-12 mx-auto footer-bar">
                <a class="footer-bar-item" href="#"><small>OUR SERVICES</small></a>
                <a class="footer-bar-item" href="#"><small>OFFER</small></a>
                <a class="footer-bar-item" href="#"><small>MY ACCOUNT</small></a>
                <a class="footer-bar-item" href="#"><small>PRO</small></a>
                <a class="footer-bar-item" href="#"><small>CONTACT US</small></a>

            </div>
        </div>
        <div class="row cent">
            <div class="col-12 mx-auto p-5">
                <a class="footer-bar-icon"href="#"><img class="img-fluid" src="../../../assets/image/ic_facebook@1x.png"></a>
                <a class="footer-bar-icon"href="#"><img class="img-fluid" src="../../../assets/image/ic_twitter@1x.png"></a>
                <a class="footer-bar-icon"href="#"><img class="img-fluid" src="../../../assets/image/ic_youtube@1x.png"></a>
            </div>
        </div>

    </div>
</section>