<div class="cent mar-left">
    <div class="row cent ic">
        <div class="col-12 label1">
            <h6>HOW IT WORKS?</h6>
        </div>
        <div class="col-12 line-categorie">
            <img class="img-fluid" src="./../../../assets/image/title _line_section@1x.png">
        </div>
        <div class="col-4">
            <img class="img-fluid" src="./../../../assets/image/ic_booking@1x.png">
        </div>
        <div  class="col-4">
            <img class="img-fluid" src="./../../../assets/image/ic_meeting@1x.png">
        </div>
        <div class="col-4">
            <img class="img-fluid" src="./../../../assets/image/ic_payment@1x.png">
        </div>
        <div class="col-12 text-center marg-button">
            <button type="button" class="btn btnBtnSection1 btn-block mx-auto">I RESERVE</button>
        </div>
    </div>
</div>