<div class="section1 container-fluid">
    <div class="cent mar">
        <div class="row cent ic">
            <div class="col-12 label1">
                <h6>WE ARE CLOSE TO YOU ON</h6>
            </div>
            <div class="col-12 line-categorie">
                <img src="./../../../assets/image/title _line_section@1x.png">
            </div>
            <div class="col-6 ">
                <img class="img-fluid" src="./../../../assets/image/mobile_phones@1x.png">
            </div>
            <div class="col-6 cent align-self-center">
                <div class="section4-text">
                    Polish hurry and technophile ... Three, two, one ... Fire! Our app is available on your smartphones! You can
                    also make an appointment on our mobile site.
                </div>
                <img class="img-fluid"
                    src="../../../assets/image/ic_available_google_play_normal@1x.png">&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="img-fluid" src="../../../assets/image/ic_available_app_store_norml@1x.png">
                <button type="button" class="btn btnBtnSection1 btn-block mx-auto">EXPLORE IT</button>
            </div>
        </div>
    </div>
</div>